/**
 * Scoreboard Styles
 * 
 * Stylesheet for the Scoreboard page
 */

div#main-scoreboard-container {
    min-height: calc(100vh - var(--admin-bar));
    display: flex;
    flex-flow: row wrap;
}
div#main-scoreboard-container > header, 
div#main-scoreboard-container > footer {
    width: 100%;
    height: 100px;
    position: relative;
    background: var(--theme-palette-color-7);
    padding: 10px 25px;
    display: flex;
    align-items: center;
}
div#main-scoreboard-container > header {
    border-bottom: 1px solid var(--theme-palette-color-6);
    margin-bottom: 10px;
}
div#main-scoreboard-container > footer {
    border-top: 1px solid var(--theme-palette-color-6);
    margin-top: 10px;
    height: 50px;
}
div#main-scoreboard-container > section {
    width: 50%;
    max-height: calc(100vh - var(--admin-bar) - 170px);
    display: flex;
    height: 100vh;
    overflow: scroll;
    position: relative;
}
section.left {
    border-right: 1px solid var(--theme-palette-color-6);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin: 0;
}